input{
    width: 250px;
    height: 29px;
    border-width: 2px;
    border-radius: 5px;
    background-color: #daeacb;
}
button {
    padding: 5px;
    margin-left: 10px;
    border-radius: 10px;
    background-color: #097262;
    color: white;
    width: 70px;
    font-size: 17px;
}
#input_box {
    width: 100%;
    background-color: #349845;
    padding: 20px;
}
#todo_list ul li{
    list-style: none;
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    background-color: #daeacb;
    border-radius: 20px;
}